//background colors
$main-color: #c4dfdf;

//text colors
$title-color: #4eb39a;
$text-color: #cddeda;

//images
$banner-img: url("../images/landingpage/banner.jpg");

//fonts
$text-font: "aileron", san-sarif;
$title-font: "crushed", san-sarif;
