//background colors
$main-color: #4eb39a;
$secondary-color: #e0f1ed;

//text colors
$title-color: #4eb39a;
$text-color: #374c47;

//images
$banner-img: url("@/assets/images/banner/banner.jpg");
$bg-basic: url("@/assets/images/bg-pages/bg-basic.jpg");

//fonts
$text-font: "aileron", san-sarif;
$title-font: "crushed", san-sarif;
